.container {
    background: lightsalmon;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.container div {
    background: lightblue;
    border:2px solid rgb(49, 49, 63);
    border-radius: 6px;
}